<div class="form-container">
    <h2>Log in:</h2>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Log in</button>
    </form>
</div>