<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
    <h1>Authentication & Authorization</h1>
    <div class="index-buttons">
        <button><a href="/signup">Sign up</a></button>
        <button><a href="/login">Log in</a></button>
    </div>
</div>