
<div class="profile-body">
    <div class="profile-container">
        <h1>Welcome back {{ user.username }}</h1>
        <h2>Email: {{ user.email }}</h2>
        <button><a href="/profile/logout">Log out</a></button>
    </div>
</div>